    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Our Mission</h2>
		<h3>Helping guide those through the unknown</h3><br>
		<p>According to the World Health Organization (WHO), roughly 2.2 billion people in the world live with some form of visual impairment. We want to empower those individuals through our application, Eye Robot, which provides a quick and easy way for user to navigate their way through indoor environements via real-time object detection and corresponding audio queues</p>
            </div>
        </div>
    </section>
