    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Our Product</h2>
		    <p>The Eye Robot is a visual impairment assistant that utilizes object detection, distance estimation, and text-to-speech (TTS) to help its users navigate through indoor settings.</p>
		    <p> Two versions of the applications are available for download: <br>Eye Robot Pro and Eye Robot Lite.</p>
		    <p>You can click the link below to view a demonstration of both products. A QR code to download the app is provided at the end of the video</p>
                    <a href="https://youtu.be/WbptvUgLlw4" class="btn btn-default btn-lg">View Demo</a>
                </div>
            </div>
        </div>
    </section>
